<h1 style="text-align: center;">Add a new party</h1>
<form name="feestjes_form" class="form-horizontal" role="form" novalidate>
        <input type="date" class="form-control" id="datum" name="datum" placeholde="DD/MM/YYYY"/> 
         <br>
                <input type="text" class="form-control" name="FeestNaam" placeholder="FEESTNAAM" id="feestNaam">
                <br>
                <input type="text" class="form-control" name="organisator" placeholder="ORGANISATOR" id="organisator">
<br>

 <button type="button" id="partyAdd" class="btn btn-success" ng-click="if_gmap_loadpicker();">Add party</button>
 <br>
              <input style="display: none;" size=10 type=text value="4.4029 " id="longval">

              <input style="display: none;" size=10 type=text value="51.2192" id="latval">

          <div style="    width: 60em;
    height: 45em;
    background-color: #CCC;
    margin-left: auto;
    margin-right: auto;" id="mapitems" style="width: 480px; height: 540px"></div>
          <br>

        </form>

  

