<h1 style="text-align: center;">Register your account</h1>
<form ng-hide="authenticated" style="text-align: center; margin-top: 3em;" name="loginForm">
  <label for="emailInput1">Email:</label>
  <input type="text" id="emailInput1"><br>
  <div style="margin-top: 1em;">
  <label for="passwordInput1">Password:</label>
  <input type="password" id="passwordInput1">
  </div>
</form>

<h1 style="text-align: center;">Log in with an existing account</h1>
<form style="text-align: center; margin-top: 3em;" name="loginForm">
  <label for="emailInput">Email:</label>
  <input type="text" id="emailInput"><br>
  <label style="margin-top: 1em" for="passwordInput">Password:</label>
  <input type="password" id="passwordInput">
</form>
<div style="text-align: center; margin-top: 2em;">
<button type="button" id="id" class="btn btn-primary">Login with Facebook</button><br>
<button style="margin-top: 1em;" id="logout" type="button" class="btn btn-warning">Logout </button>
</div>
