<h1 style="text-align: center;">Register your account</h1>
<form style="text-align: center; margin-top: 3em;" name="loginForm">
  <label for="emailInput">Email:</label>
  <input type="text" id="emailInput"><br>
  <div style="margin-top: 1em;">
  <label for="passwordInput">Password:</label>
  <input type="password" id="passwordInput">
  </div>
</form>
<div id="id" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

  <script>
  	 var myDataRef = new Firebase('https://crackling-torch-6492.firebaseio.com/');
          $('#id').on('click', function(){
myDataRef.authWithOAuthPopup("facebook", function(error, authData) {
  if (error) 
  {
    console.log("Login Failed!", error);
  } 
  else 
  {
    console.log("Authenticated successfully with payload:", authData);
  }
});
});
  	 			myDataRef.onAuth(authDataCallback);
      $('#passwordInput').keypress(function (e) {
        if (e.keyCode == 13) {
          var email = $('#emailInput').val();
          var password = $('#passwordInput').val();
          myDataRef.createUser({email: email, password: password}, 

          	function (error, userData){         	  
			if (error) 
			{
				console.log("Error creating user:", error);
			} 
			else 
			{
			console.log("Successfully created user account with uid:", userData.uid);
			alert("Succesvol account aangemaakt.");

			}

          });
        }      
      });

      function authDataCallback(authData) {
  if (authData) {
    console.log("User " + authData.uid + " is logged in with " + authData.provider);
  } else {
    console.log("User is logged out");
  }
}

  </script>